body{
    background-color: rgb(27, 72, 99);
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    max-width: 1200px;
    margin: 0 0 auto;
    padding: 10px;
    box-sizing: border-box;
    height: 70px;
}

h1 img{
    width: 11%;
    max-width: 15%;
}

main{
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.principal{
    width: 48%;
    padding: 20px;
    box-sizing: border-box;
}

.texto-usuario {
    color: white;
    font-size: 18px; 
    width: 100%;
    height: 600px; 
    padding: 5px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.1); 
    border: 1px solid white;
    border-radius: 5px;
    resize: vertical; 
    box-sizing: border-box;
}



.botones{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.botones button{
    width: 48%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

#b2{
    background-color: gray;
    margin-left: 0px;
}


.respuesta{
    width: 48%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: gray;
    color: white;
    width: 500px; 
    height: 650px;
    text-align: center;
}

.respuesta img{
    width: 100%;
}

.respuesta h2{
    margin-top: 50px;
    font-weight: bold;
}

.respuesta p{
    margin-top: 30px;
}

#copiar{
    width: 48%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    bottom: 10px;
    box-sizing: border-box;
}

footer{
    width: 100%;
    background-color: rgb(27, 72, 99);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
}

footer p{
    margin: 0;
    color: white;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 600px) {
    header {
        height: 50px;
    }

    h1 img {
        width: 140px;
        max-width: 100%;
    }

    main {
        margin-top: 25px;
        flex-direction: column; 
        align-items: center;
        padding: 10px;

    }

    .principal,
    .respuesta {
        width: 90%;
    }

    .botones {
        flex-direction: column; 
        align-items: center; 
        width: 100%;
    }

    .botones button {
        width: 100%; 
        margin-bottom: 10px; 
    }

    .texto-usuario {
        width: 100%; 
        height: auto;
        margin-top: 50px;
    }

    .respuesta {
        height: auto; 
        margin-top: 20px; 
        width: 82%;
    }

    #copiar {
        width: 80%;
        bottom: 10px;
    }
    
}

/* Estilos para tablets */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    h1 img {
        width: 140px;
        max-width: 100%;
    }

    main {
        margin-top: 10px;
        flex-direction: column; 
        align-items: center; 
        width: 90%;
        max-width: 1024px;

    }
    .respuesta img{
        width: 50%;
        height: auto;
    }

    .texto-usuario {
        width: 100%; 
        max-height:400px;
        margin-top: 50px;
    }

    .principal,
    .respuesta {
        width: 90%;
        order: 2; 
        margin-top: 20px; 
    }

    .respuesta{
        max-height:400px
    }
    .respuesta h2{
        margin-top: 5px;
        font-weight: bold;
    }
    
    .respuesta p{
        margin-top: 30px;
    }
}